<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type='text/css'>
</head>
<body class="background">
    <nav>
        <ul class="nav-container"></ul>
    </nav>
    <a class="nav-soundcloud" href="">
        <br>
        SOUNDCLOUD
    </a>
    <a class="nav-home-button" href="">
        <br>
        Home
    </a>
    <a class="nav-stream-button" href="">
        <br>
        Stream
    </a>
    <a class="nav-library-button" href="">
        <br>
        Library
    </a>
    <div class="nav-search">
        Search for artists, bands, traxks, podcasts
    </div>
    <div class="nav-signin">
        Sign in
    </div>
    <div class="nav-createaccount">
        Create account
    </div>
    <a class="nav-upload" href="">
        Upload
    </a>
    <div class="nav-dot-1"></div>
    <div class="nav-dot-2"></div>
    <div class="nav-dot-3"></div>
    <div class="body-container"></div>
    <br>
    <br>
    <br>
    <br>
    <p class="big-title">Charts: Top 50</p>
    <p class="small-title">The most played tracks on SoundCloud this week</p>
    <br>
    <div class="album-left-margin" style="float: left; margin-right: 20px;"></div>
    <div class="album-container" style="float: left; margin-right: 20px; background-image: url(https://i1.sndcdn.com/artworks-fuj9h8JG5gy2AHoO-zrH3nQ-t200x200.jpg);">
        <p class="big-explain">All music genres</p>
        <p class="small-explain">Top 50</p>
    </div>
    <div class="album-container" style="float: left; margin-right: 20px; background-image: url(https://i1.sndcdn.com/artworks-fuj9h8JG5gy2AHoO-zrH3nQ-t200x200.jpg);">
        <p class="big-explain">Global Beats</p>
        <p class="small-explain">Top 50</p>
    </div>
    <div class="album-container" style="float: left; margin-right: 20px; background-image: url(https://i1.sndcdn.com/artworks-i3PJdBHDTHcM2AIW-uZMVvw-t200x200.jpg);">
        <p class="big-explain">Hip-hop & Rap</p>
        <p class="small-explain">Top 50</p>
    </div>
    <div class="album-container" style="float: left; margin-right: 20px; background-image: url(https://i1.sndcdn.com/artworks-7nmc0L048KDmtv7Q-aSOK7A-t200x200.jpg);">
        <p class="big-explain">Pop</p>
        <p class="small-explain">Top 50</p>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p class="big-title">Charts: New & hot</p>
    <p class="small-title">Up-and-coming tracks on SoundCloud</p>
    <br>
    <div class="album-left-margin" style="float: left; margin-right: 20px;"></div>
    <div class="album-container" style="float: left; margin-right: 20px; background-image: url(https://i1.sndcdn.com/artworks-i3PJdBHDTHcM2AIW-uZMVvw-t200x200.jpg);">
        <p class="big-explain">All music genres</p>
        <p class="small-explain">New & hot</p>
    </div>
    <div class="album-container" style="float: left; margin-right: 20px; background-image: url(https://i1.sndcdn.com/artworks-Ffx8OIXeU3sqyqDU-p6Gyzw-t200x200.jpg);">
        <p class="big-explain">Global Beats</p>
        <p class="small-explain">New & hot</p>
    </div>
    <div class="album-container" style="float: left; margin-right: 20px; background-image: url(https://i1.sndcdn.com/artworks-i3PJdBHDTHcM2AIW-uZMVvw-t200x200.jpg);">
        <p class="big-explain">Hip-hop & Rap</p>
        <p class="small-explain">New & hot</p>
    </div>
    <div class="album-container" style="float: left; margin-right: 20px; background-image: url(https://i1.sndcdn.com/artworks-4Z4OadSREyQnJzZj-XRel7A-t200x200.jpg);">
        <p class="big-explain">Pop</p>
        <p class="small-explain">New & hot</p>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p class="big-title">Study</p>
    <p class="small-title">Popular playlists from the SoundCloud community</p>
    <br>
    <div class="album-left-margin" style="float: left; margin-right: 20px;"></div>
    <div class="album-container" style="float: left; margin-right: 20px; background-image: url(https://i1.sndcdn.com/artworks-000456836271-fl3gpw-t200x200.jpg);">
        <p class="big-explain">Jazz hip</p>
        <p class="small-explain">soo · Follow</p>
    </div>
    <div class="album-container" style="float: left; margin-right: 20px; background-image: url(https://i1.sndcdn.com/artworks-000550578096-t8hsh7-t200x200.jpg);">
        <p class="big-explain">Lofi</p>
        <p class="small-explain">eevee · Follow</p>
    </div>
    <div class="album-container" style="float: left; margin-right: 20px; background-image: url(https://i1.sndcdn.com/artworks-000208627636-q5rfpn-t200x200.jpg);">
        <p class="big-explain">lofi 4 studing</p>
        <p class="small-explain">suri · follow</p>
    </div>
    <div class="album-container" style="float: left; margin-right: 20px; background-image: url(https://i1.sndcdn.com/artworks-000147477275-my3dmh-t200x200.jpg);">
        <p class="big-explain">Stella's Coffee H...</p>
        <p class="small-explain">Mah · Follow</p>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p class="big-title">Chill</p>
    <p class="small-title">Popular playlists from the SoundCloud community</p>
    <br>
    <div class="album-left-margin" style="float: left; margin-right: 20px;"></div>
    <div class="album-container" style="float: left; margin-right: 20px; background-image: url(https://i1.sndcdn.com/artworks-000497390646-w8kzyn-t200x200.jpg);">
        <p class="big-explain">jazzhip 7</p>
        <p class="small-explain">soo · Follow</p>
    </div>
    <div class="album-container" style="float: left; margin-right: 20px; background-image: url(https://i1.sndcdn.com/artworks-000361848372-jfpz0p-t200x200.jpg);">
        <p class="big-explain">Never Chill Before</p>
        <p class="small-explain">Pineapple... · Follow</p>
    </div>
    <div class="album-container" style="float: left; margin-right: 20px; background-image: url(https://i1.sndcdn.com/artworks-000118219496-njst84-t200x200.jpg);">
        <p class="big-explain">musicas relaxant...</p>
        <p class="small-explain">lihcogine · Follow</p>
    </div>
    <div class="album-container" style="float: left; margin-right: 20px; background-image: url(https://i1.sndcdn.com/artworks-000405464955-n4ge52-t200x200.jpg);">
        <p class="big-explain">Morning Chillout</p>
        <p class="small-explain">Mighty · Follow</p>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p class="big-title">Party</p>
    <p class="small-title">Popular playlists from the SoundCloud community</p>
    <br>
    <div class="album-left-margin" style="float: left; margin-right: 20px;"></div>
    <div class="album-container" style="float: left; margin-right: 20px; background-image: url(https://i1.sndcdn.com/artworks-4yR4BDNAp7tpOoHp-izsKTg-t200x200.jpg);">
        <p class="big-explain">All music genres</p>
        <p class="small-explain">Top 50</p>
    </div>
    <div class="album-container" style="float: left; margin-right: 20px; background-image: url(https://i1.sndcdn.com/artworks-000079218767-py73zj-t200x200.jpg);">
        <p class="big-explain">Global Beats</p>
        <p class="small-explain">Top 50</p>
    </div>
    <div class="album-container" style="float: left; margin-right: 20px; background-image: url(https://i1.sndcdn.com/artworks-000658429759-jlcwkd-t200x200.jpg);">
        <p class="big-explain">Hip-hop & Rap</p>
        <p class="small-explain">Top 50</p>
    </div>
    <div class="album-container" style="float: left; margin-right: 20px; background-image: url(https://i1.sndcdn.com/artworks-000359931777-whjnlr-t200x200.jpg);">
        <p class="big-explain">Pop</p>
        <p class="small-explain">Top 50</p>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p class="big-title">Relax</p>
    <p class="small-title">Popular playlists from the SoundCloud community</p>
    <br>
    <div class="album-left-margin" style="float: left; margin-right: 20px;"></div>
    <div class="album-container" style="float: left; margin-right: 20px; background-image: url(https://i1.sndcdn.com/artworks-000563945309-zrrjx5-t200x200.jpg);">
        <p class="big-explain">All music genres</p>
        <p class="small-explain">Top 50</p>
    </div>
    <div class="album-container" style="float: left; margin-right: 20px; background-image: url(https://i1.sndcdn.com/artworks-000497390646-w8kzyn-t200x200.jpg);">
        <p class="big-explain">Global Beats</p>
        <p class="small-explain">Top 50</p>
    </div>
    <div class="album-container" style="float: left; margin-right: 20px; background-image: url(https://i1.sndcdn.com/artworks-000405464955-n4ge52-t200x200.jpg);">
        <p class="big-explain">Hip-hop & Rap</p>
        <p class="small-explain">Top 50</p>
    </div>
    <div class="album-container" style="float: left; margin-right: 20px; background-image: url(https://i1.sndcdn.com/artworks-000102883401-dj4tby-t200x200.jpg);">
        <p class="big-explain">Pop</p>
        <p class="small-explain">Top 50</p>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p class="big-title">Sleep</p>
    <p class="small-title">Popular playlists from the SoundCloud community</p>
    <br>
    <div class="album-left-margin" style="float: left; margin-right: 20px;"></div>
    <div class="album-container" style="float: left; margin-right: 20px; background-image: url(https://i1.sndcdn.com/artworks-000118815345-eap7vz-t200x200.jpg);">
        <p class="big-explain">All music genres</p>
        <p class="small-explain">Top 50</p>
    </div>
    <div class="album-container" style="float: left; margin-right: 20px; background-image: url(https://i1.sndcdn.com/artworks-000203728610-b1z3md-t200x200.jpg);">
        <p class="big-explain">Global Beats</p>
        <p class="small-explain">Top 50</p>
    </div>
    <div class="album-container" style="float: left; margin-right: 20px; background-image: url(https://i1.sndcdn.com/artworks-000168574912-3nhdl7-t200x200.jpg);">
        <p class="big-explain">Hip-hop & Rap</p>
        <p class="small-explain">Top 50</p>
    </div>
    <div class="album-container" style="float: left; margin-right: 20px; background-image: url(https://i1.sndcdn.com/artworks-000107899443-qxcwl0-t200x200.jpg);">
        <p class="big-explain">Pop</p>
        <p class="small-explain">Top 50</p>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p class="big-title">Workout</p>
    <p class="small-title">Popular playlists from the SoundCloud community</p>
    <br>
    <div class="album-left-margin" style="float: left; margin-right: 20px;"></div>
    <div class="album-container" style="float: left; margin-right: 20px; background-image: url(https://i1.sndcdn.com/artworks-000429778488-g2yoti-t200x200.jpg);">
        <p class="big-explain">All music genres</p>
        <p class="small-explain">Top 50</p>
    </div>
    <div class="album-container" style="float: left; margin-right: 20px; background-image: url(https://i1.sndcdn.com/artworks-000203683819-pbrsft-t200x200.jpg);">
        <p class="big-explain">Global Beats</p>
        <p class="small-explain">Top 50</p>
    </div>
    <div class="album-container" style="float: left; margin-right: 20px; background-image: url(https://i1.sndcdn.com/artworks-sXD0DWC1ZoxgkMiG-J7pWuQ-t200x200.jpg);">
        <p class="big-explain">Hip-hop & Rap</p>
        <p class="small-explain">Top 50</p>
    </div>
    <div class="album-container" style="float: left; margin-right: 20px; background-image: url(https://i1.sndcdn.com/artworks-000359931777-whjnlr-t200x200.jpg);">
        <p class="big-explain">Pop</p>
        <p class="small-explain">Top 50</p>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p></p>



</body>
</html>